@font-face {
  font-family: knight;
  src: url("../../resources/font/BLKCHCRY.TTF");
}

html, body {
    background-image:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../../resources/pictures/tutorial.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.txt{
top: 50%;
left: 50%;
text-align:center;
padding-bottom: 10px;
}
.closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}
.closebtn:hover {
  color: #ffffff;
}
p{
  color: #ffffff;
  font-size: 2rem;
}
h2 {
  font-family: knight;
  color: darkorange;
  font-size: 3rem;
}