@font-face {
    font-family: knight;
    src: url("../../resources/font/BLKCHCRY.TTF");
  }
  
  html, body {
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../../resources/pictures/tutorial.jpg") no-repeat center center fixed;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    overflow-x: hidden;
    background-size: cover;
    
  }  
  
.heading{
    font-family: knight;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
    text-decoration: underline;
    text-align: center;
}
  .modal{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2rem;
  
  }
  .modal a{
    appearance: auto;
    text-align: center;
    background-color: #097969; /* Green background */
    border: 1px solid #000000; /* Green border */
    color: white; /* White text */
    padding: 10px 24px 0 20px ; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 20vw; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3rem;
    font-family: knight;
  }
